body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-content {
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 100px 90px;
}
.sidebar {
  background: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts {
  margin-left: 40px;
  margin-bottom: 50px;
}

.contact-type {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 8px;
}
.contact-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}
.tech-skills {
  margin-left: 40px;
  margin-bottom: 45px;
}
.soft-skills {
  margin-left: 40px;
}
.tech-skills-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
}
.tech-skills-item {
  color: #fb6d3a;
}
.tech-skills-text {
  color: #ffffff;
}
.soft-skills-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.soft-skills-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-text {
  color: #ffffff;
}

.about {
  width: 420px;
  margin-bottom: 40px;
}
.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about-first-last-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}
.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-content {
  margin-bottom: 50px;
}
.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0px;
  margin-bottom: 8px;
}
.projects-braces {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.projects-link,
.project-list-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.projects-link {
  margin-left: 15px;
}
.projects-list {
  padding-left: 20px;
  margin: 0;
}
.projects-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.work-content {
  margin-bottom: 45px;
}
.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}
.work-position {
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.work-name {
  color: #fb6d3a;
}
.work-period {
  margin: 10px 0px 8px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.work-period-stick {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work-list {
  margin: 8px 0px 16px 0px;
  padding-left: 20px;
}
.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.education-title {
  margin: 0px;
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.education-university {
  margin: 0px;
  margin-bottom: 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.education-name {
  margin: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.education-period {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education-period-stick {
  margin: 0px;
  color: #000000;
}
